@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --padding-container:50px 0;
    --color-title: #ffffff;

}

body{

    font-family: "Mukta Mahee", sans-serif;

}



.container{

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    grid-template-rows: 100px 1fr;
    color: #ffffff;
  
}

.h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('21.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 27%, 100% 80%, 70% 70%, 0 80%);
    z-index: -1;
   
}
.h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 140px;
    width: 10%;
    height: 20%;
    background-image: linear-gradient(180deg, #0000008c 0%, #00000000 0%), url('lupiita.png');
    background-size: cover;

    z-index: 2;
   
}
.Titulo{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
   padding-bottom: 0%;
   line-height: 0% ;
}
.Subtitulo_1{
    font-size: 1em;
    color: #ffffff;
    text-align: center; 
   
}
.Subtitulo{
    font-size: 1em;
    color: #ffffff;
    text-align: center; 
    line-height: 0% ;
}



.Menu_4{
    list-style-type:none;
    color: #ffffff;
    text-decoration: none;
    margin-left: auto;
    position: relative;
	margin: 0;
	padding: 0;

  
}


.Menu_links{
    color: #ffffff;
    text-decoration: none;
    list-style-type:none;
   
}
.Menu_links:hover >.Menu_4 {
    display: none;
}

.Parrafos{
  padding: 8px;
  margin: 25px;	
}



